<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/500error.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<body class="loading">
  <h1 class="head">500</h1>
  <h2 class="heads">Unexpected Error <b>:(</b></h2>
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <script>
    $(function() {
  setTimeout(function(){
    $('body').removeClass('loading');
  }, 1000);
});
  </script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
</body>
  
</body>
</html>