<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="css/main.css?v=1.1" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <main>
            <header class="main-header style-2 navbar">
                <div class="col-brand">
                    <a href="index.html" class="brand-wrap titA">
                        ADMIN LOGIN
                    </a>
                </div>
                <div class="col-nav">
                   <p>Vkart</p>
                </div>
            </header>
            <section class="content-main mt-80 mb-80">
                <div class="card mx-auto card-login">
                    <div class="card-body backg">
                        <h4 class="card-title mb-4 " ><span class="titleAd">Sign in</span> </h4>
                        <form action="api/adminlogin" method="post">
                            <div class="mb-3">
                                <% if(Adminerror){ %>
                                    <p class="errorClass">  
                                        <%= Adminerror%>                                         
                                    </p>
                                    <% } %>
                                <input class="form-control titleAd" placeholder="Username or email" name="email"type="text" />
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <input class="form-control titleAd" placeholder="Password"name="password" type="password" />
                            </div>
                            <!-- form-group// -->
                            <div class="mb-3">
                                <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                                <label class="form-check">
                                    <input type="checkbox" class="form-check-input" checked="" />
                                    <span class="form-check-label">Remember</span>
                                </label>
                            </div>
                            <!-- form-group form-check .// -->
                            <div class="mb-4">
                                <button type="submit" class="btn btn-primary w-100 AdL">Login</button>
                            </div>
                            <!-- form-group// -->
                        </form>
                       
                        <p class="text-center mb-4">Don't have account? <a href="#">Sign up</a></p>
                    </div>
                </div>
            </section>
            <footer class="main-footer text-center">
                <p class="font-xs">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </p>
                <p class="font-xs mb-30">All rights reserved</p>
            </footer>
        </main>
        <script src="js/vendors/jquery-3.6.0.min.js"></script>
        <script src="js/vendors/bootstrap.bundle.min.js"></script>
        <script src="js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
